.footer {
    color: white;
    padding: 8rem 0 3rem;
    background: $veryDarkCyan;

    @include breakpoint-up(medium) {
        padding: 12rem 0 3rem;
    }

    &__content {
        width: 90vw;
        margin: auto;
        display: block;
        grid-template-columns: 4fr 2fr 2fr 2fr;

        @include breakpoint-up(medium) {
            width: 86vw;
            display: grid;
        }
    }

    &__logo {
        margin-bottom: 1.5rem;
        margin-left: 6vw;
        width: 10.75rem;

        @include breakpoint-up(medium) {
            width: auto;
        }
    }

    &__desc {
        display: grid;
        grid-template-columns: 0.08fr 1fr;
        align-items: center;

        p {
            width: 18.7rem;
            font-size: 1rem;
            line-height: 1.7;
            color: $veryPaleCyan;

            @include breakpoint-up(medium) {
                width: 20.625rem;
            }
        }

        img {
            width: 1rem;

            @include breakpoint-up(medium) {
                width: auto;
            }
        }

        .location-img {
            align-self: baseline;
            margin-top: 1.4rem;
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;

        a {
            color: $veryPaleCyan;
            text-decoration: none;
            margin-bottom: 1.9rem;
            transition: all 0.3s ease-in-out;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__social {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;

        @include breakpoint-up(medium) {
            display: block;
            margin-bottom: 0;
        }

        svg {
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &:hover {
                path {
                    fill: $pink;
                }
            }

            &:not(:last-child) {
                margin-right: 1rem;

                @include breakpoint-up(medium) {
                    margin-right: 0.5rem;
                }
            }
        }
    }

    &__copy {
        text-align: center;
        margin-right: 3vw;
        font-size: 0.875rem;

        @include breakpoint-up(medium) {
            font-size: 14.5px;
            text-align: right;
        }
    }
}