html {
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: $base-font-family;

    @include breakpoint-up(medium) {
        font-size: 1.125rem;
    }
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-al-c {
        align-items: center;
    }
}

.btn {
    position: relative;
    text-decoration: none;
    border-radius: 30px;
    cursor: pointer;
    transition: color 300ms ease-in-out;
    font-weight: 700;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.5);
        opacity: 0;
        transition: opacity 150ms ease-in-out;
    }

    &:hover {
        &::before {
            opacity: 1;
        }
    }
}