.hero {
    height: 650px;
    position: relative;
    background-color: $veryPaleCyan;
    background-image: url('../images/bg-hero-desktop.svg');
    background-size: cover;
    background-repeat: no-repeat;

    &__container {
        max-width: 87vw;
        height: 28rem;
        margin: 1rem auto 0;
        display: flex;

        @include breakpoint-up(large) {}
    }

    &__text__content {
        align-self: center;
        flex: 1;
    }

    &__text {
        width: 86%;

        h1 {
            font-family: $heading-font-family;
            color: $veryDarkCyan;
            font-size: 2.5rem;
            margin: 0;
        }

        p {
            line-height: 1.6;
            color: $veryDarkCyan;
            margin-bottom: 2.5rem;
        }

    }

    &__btn {
        background-color: $pink;
        padding: 1rem 4rem;
        color: white;
        font-size: 0.875rem;
    }

    &__image {
        flex: 1;
        background-image: url('../images/illustration-mockups.svg');
        background-repeat: no-repeat;
        background-size: contain;
    }
}